:root{
    --default-green: #1DB954;
    --light-green: #1ed760;
    --default-gray: #919496;
}



*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    color: white;
    text-decoration: none;
    transition: all 300ms ease;
}

a:hover{
    color: var(--light-green);
    margin: 0 10px;
}

body{
    font-family: 'Roboto', sans-serif;
}

/* utility classes */

.btn-primary {
    background: var(--default-green);
    color: white;
    text-transform: uppercase;
    padding: 20px 50px;
    border: none;
    border-radius: 30px;
    letter-spacing: 1px;
    font-weight: bold;
    transition: all 300ms ease;
}

.btn-primary:hover{
    background: var(--light-green);
    cursor:pointer;
    font-size: 14px;
}

.logo{
    height: 40px;
    width: auto;
}

/* Navbar */

#navbar{
    display: flex;
    background-color: rgba(0,0,0,0.6);
    color: white;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    
}

#navbar .navbar-container{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;;
}

#navbar .navbar-container ul {
    display: flex;
    list-style: none;
    font-weight: bold;
}

#navbar .navbar-container ul li {
    padding: 0 20px;
    transition: all 300ms ease;

}

#navbar .navbar-container ul li:hover{
    color: var(--default-green);
    cursor: pointer;
    margin: 0 10px;
}



#navbar .navbar-container ul li:nth-last-child(3){
    border-right: 1px solid white;
}

/* Showcase */

#showcase {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: url('/Img/showcase.webp') center center/cover;
    background-color: rgba(0,0,0,0.4);
    background-blend-mode: color;

}

#showcase .showcase-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  
}

#showcase .showcase-container h2{
    font-size: 5rem;
}

#showcase .showcase-container p{
    margin: 15px 0;
    font-size: 1.1rem;
}

/* Footer */

#footer {
    background: black;
    color: white;
    padding: 70px 0;
    
}

#footer .footer-content {
    display: flex;
    width: 60%;
    margin: auto;
    justify-content:space-between ;
    
}

#footer .footer-content .footer-menu {
    margin: 0 15px;
    list-style: none;

}


#footer .footer-content .footer-menu{
    width: 230px;
}

#footer .footer-content .footer-menu .footer-menu-item{
    margin: 20px 0;
    padding-right: 50px;
    transition: all 300ms ease;
}


#footer .footer-content .footer-menu .footer-menu-item:hover{
    color: var(--default-green);
    cursor: pointer;
}



#footer .footer-content .footer-menu p{
    
    font-weight: bold;
    text-transform: uppercase;
    color: var(--default-gray);
    font-size: 0.8rem;
}

/* Footer Soials */

.socials{
    display: flex;
}

.socials i{
 
    margin: 10px 10px;
    font-size: 1.7rem;
    transition: all 300ms ease;
}


.socials i:hover{
    color: var(--default-green);
    cursor: pointer;
    font-size: 3rem ;

}

/* Footer info */

.footer-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 60%;
    margin: auto;
    font-weight: bold;
    color:var(--default-gray);
    font-size: 0.7rem;
    padding-top: 50px;
}

.footer-info-items{
    display: flex;
    list-style: none;
    margin-right: 100px;

}

.footer-info-item{
    margin: 0 20px;
    transition: all 300ms ease;
 
}

.footer-info-items .footer-info-item:hover {
	color: var(--default-green);
	cursor: pointer;
}


.rights .country {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
}



.rights .country a{
    transition: all 300ms ease;
    text-decoration: none;
    color: var(--default-gray);
    margin-left: 10px;
}

.rights p{
    color: var(--default-gray);
    text-align: end;
    padding-right: 80px;
}

.rights .country a:hover{
    color: var(--default-green);
    cursor: pointer;

}


.rights .country .brazil-flag{
    height: 20px;
    width: auto;
    display: flex;
    padding-right: 80px;    
}